body{
	background-image: url(images/weather2.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
}
.top-nav{
	color:white;
}
a {
  color: black;
  text-decoration: none;
}
footer .container .heart{
	color:red;
} 
button {
  cursor: pointer;
}

