body{
	background-image: url(images/image1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 2000px;
}
header{
	color:white;
    width: 90px;
    padding: 10px;
    border: 5px solid white;
    margin: 0;
}
#salutation{
	color:white;
}
