body{
	background-image: url(images/weather1.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
}
.top-nav{
	color:white;
}
a {
  color: black;
  text-decoration: none;
}
footer .container .heart{
	color:red;
} 


